<a href="https://colab.research.google.com/github/anandanur92/Kognitif_Phy/blob/master/latihan2_Ananda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2a
a=2
if 5>a :
    print("Five is greater than two!")
    print("done!")

Five is greater than two!
done!

In [ ]:
#2b
a=10; b=14; c=20
hasil = a + b + c
print(hasil)

44

In [ ]:
#2c
name = input ("what is your nick name: ")
print ('Hi '+ name + '!')

what is your nick name: nanda
Hi nanda!

In [ ]:
#3a
mystr = "hello, apa kabar?" 
print(mystr)

hello, apa kabar?

In [ ]:
#3b
age = str(35)
mytext = ' umur adalah '
print(mytext + age)

 umur adalah 35

In [ ]:
#3c
print('Penjumlahan 2 angka : x+y')
x=input('Masukkan nilai x : ')
y=input('Masukkan nilai y: ')
hasil = int(x) + int(y)
print('Hasil penjumlahan x+y= ', hasil)

Penjumlahan 2 angka : x+y
Masukkan nilai x : 6
Masukkan nilai y: 8
Hasil penjumlahan x+y=  14

In [ ]:
#4a
temperature = {"20-02-2020":30,
               "21-02-2020":29,
               "22-02-2020":30,
               "23-02-2020":32,
               "24-02-2020":30}
print(temperature)

{'20-02-2020': 30, '21-02-2020': 29, '22-02-2020': 30, '23-02-2020': 32, '24-02-2020': 30}

In [ ]:
#4b
for tempdate in temperature.keys():
  print(temperature[tempdate])

30
29
30
32
30

In [ ]:
#4c
for tempdate,temp in temperature.items():
  print(tempdate, ":", temp)

20-02-2020 : 30
21-02-2020 : 29
22-02-2020 : 30
23-02-2020 : 32
24-02-2020 : 30

In [ ]:
 #5a
 temperature = {"20-02-2020":30,
              "21-02-2020":29,
              "22-02-2020":30,
              "23-02-2020":32,
              "24-02-2020":20}
print(temperature)

for tempdate in temperature.keys():
    print(temperature[tempdate])
    
for tempdate, temp in temperature.items():
    print(tempdate,":",temp)
    
for tempdate, temp in temperature.items():
    if temp >=32:
        print(tempdate,":",temp," diatas normal")
    elif temp <22:
        print(tempdate,":",temp," dibawah normal")
    else:
        print(tempdate,":",temp," normal")

{'20-02-2020': 30, '21-02-2020': 29, '22-02-2020': 30, '23-02-2020': 32, '24-02-2020': 20}
30
29
30
32
20
20-02-2020 : 30
21-02-2020 : 29
22-02-2020 : 30
23-02-2020 : 32
24-02-2020 : 20
20-02-2020 : 30  normal
21-02-2020 : 29  normal
22-02-2020 : 30  normal
23-02-2020 : 32  diatas normal
24-02-2020 : 20  dibawah normal

In [ ]:
#6a

def my_function(fname, lname):
    print(fname + " " + lname)
fname= input('input firstname: ')
lname= input('input lastname: ')
my_function(fname, lname)

input firstname: ada
input lastname: wong
ada wong

In [ ]:
#6b

def add(x,y) :
    jumlah=x+y
    return jumlah

print('Penjumlahan 2 angka : x + y')
x = input ('masukan nilai x :')
y = input ('masukan nilai y :')

hasil = add(int(x), int(y))
print ('Hasil penjumlahan x + y +', hasil)

Penjumlahan 2 angka : x + y
masukan nilai x :8
masukan nilai y :4
Hasil penjumlahan x + y + 12